<table class='venue-list'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Logo</th>
      <th>Link</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |venue|}}
    <tr class='venue-row'>
      <td class='venue-name'>{{venue.name}}</td>
      <td class='venue-logo'><img src={{venue.imageUrl}} alt ="Venue Logo" /></td>
      <td class='venue-link'><a href={{venue.linkUrl}}>{{venue.linkUrl}}</a></td>
      <td class='venue-edit'>{{link-to "Edit" "venues.edit" venue}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
