<h2 class="ui dividing header">Edit Venue</h2>
<form {{action "save" on="submit"}} class="rt-venue-form ui form">
  <div class="two fields">
    <div class="field {{if (and hasValidated (v-get this 'model.name' 'isInvalid')) "error"}}">
      <label>Venue Name:
        {{#if hasValidated }}
          {{#if (v-get this 'model.name' 'isInvalid')}}
            {{v-get this 'model.name' 'message'}}
          {{/if}}
        {{/if}}
      </label>
      {{input value=model.name placeholder="Venue Name" class="input__text field__name"}}
    </div>
    <div class="field {{if (and hasValidated (v-get this 'model.description' 'isInvalid')) "error"}}">
      <label>Description:
        {{#if hasValidated }}
          {{#if (v-get this 'model.description' 'isInvalid')}}
            {{v-get this 'model.description' 'message'}}
          {{/if}}
        {{/if}}
      </label>
      {{input value=model.description placeholder="Venue Tagline" class="input__text field__description" }}
    </div>
  </div>
  <div class="field {{if (and hasValidated (v-get this 'model.linkUrl' 'isInvalid')) "error"}}">
    <label>Website:
      {{#if hasValidated }}
        {{#if (v-get this 'model.linkUrl' 'isInvalid')}}
          {{v-get this 'model.linkUrl' 'message'}}
        {{/if}}
      {{/if}}
    </label>
    {{input value=model.linkUrl placeholder="Website" class="input__url field__website"}}
  </div>
  <div class="field {{if (and hasValidated (v-get this 'model.directionsUrl' 'isInvalid')) "error"}}">
    <label>Directions Link:
      {{#if hasValidated }}
        {{#if (v-get this 'model.directionsUrl' 'isInvalid')}}
          {{v-get this 'model.directionsUrl' 'message'}}
        {{/if}}
      {{/if}}
    </label>
    {{input value=model.directionsUrl placeholder="Directions" class="input__url field__directions"}}
  </div>

  <div class="field {{if (and hasValidated (v-get this 'model.imageUrl' 'isInvalid')) "error"}}">
    <label>Logo:
      {{#if hasValidated }}
        {{#if (v-get this 'model.imageUrl' 'isInvalid')}}
          {{v-get this 'model.imageUrl' 'message'}}
        {{/if}}
      {{/if}}
    </label>
    {{input value=model.imageUrl placeholder="Image" class="input__url field__image"}}
  </div>
  <button type="submit" value="Save" class="input__save ui button green">Save</button>
  <button {{action "cancel"}} class="input__cancel ui button">Cancel</button>
</form>
