<h2 class="ui dividing header">Edit Race</h2>

<form {{action "save" on="submit"}} class="rt-race-form ui form">
  <div class="field {{if (and hasValidated (v-get this 'model.name' 'isInvalid')) "error"}}">
    <label>Race Name:
      {{#if hasValidated }}
        {{#if (v-get this 'model.name' 'isInvalid')}}
          {{v-get this 'model.name' 'message'}}
        {{/if}}
      {{/if}}
    </label>
    {{input value=model.name placeholder="Race Name" class="input__text field__name"}}
  </div>
  <div class="three fields">
    <div class="field {{if (and hasValidated (v-get this 'model.date' 'isInvalid')) "error"}}">
      <label>Date:
        {{#if hasValidated }}
          {{#if (v-get this 'model.date' 'isInvalid')}}
            {{v-get this 'model.date' 'message'}}
          {{/if}}
        {{/if}}
      </label>
      {{pikaday-input value=model.date format="MM/DD/YYYY" placeholder="Race Day"
      onSelection=(action 'changeDate') class="input__date field__date"}}
    </div>
    <div class="field {{if (and hasValidated (v-get this 'model.registrationTime' 'isInvalid')) "error"}}">
      <label>Registration:
        {{#if hasValidated }}
          {{#if (v-get this 'model.registrationTime' 'isInvalid')}}
            {{v-get this 'model.registrationTime' 'message'}}
          {{/if}}
        {{/if}}
      </label>
      {{input value=model.registrationTime placeholder="Registration" class="input__time field__registration" }}
    </div>
    <div class="field {{if (and hasValidated (v-get this 'model.startTime' 'isInvalid')) "error"}}">
      <label>Start:
        {{#if hasValidated }}
          {{#if (v-get this 'model.startTime' 'isInvalid')}}
              {{v-get this 'model.startTime' 'message'}}
          {{/if}}
        {{/if}}
      </label>
      {{input value=model.startTime placeholder="Start" class="input__time field__start" }}
    </div>
  </div>
  <div class="two fields">
    <div class="field {{if (and hasValidated (v-get this 'model.cost' 'isInvalid')) "error"}}">
      <label>Cost:
        {{#if hasValidated }}
          {{#if (v-get this 'model.cost' 'isInvalid')}}
            {{v-get this 'model.cost' 'message'}}
          {{/if}}
        {{/if}}
      </label>
      {{input value=model.cost placeholder="Cost" class="input__text field__cost" }}
    </div>
    <div class="field {{if (and hasValidated (v-get this 'model.distance' 'isInvalid')) "error"}}">
      <label>Distances:
        {{#if hasValidated }}
          {{#if (v-get this 'model.distance' 'isInvalid')}}
            {{v-get this 'model.distance' 'message'}}
          {{/if}}
        {{/if}}
      </label>
      {{input value=model.distance placeholder="Distances" class="input__text field__distance" }}
    </div>
  </div>
  <div class="two fields">
    <div class="field {{if (and hasValidated (v-get this 'model.courseUrl' 'isInvalid')) "error"}}">
      <label>Course Link:
        {{#if hasValidated }}
          {{#if (v-get this 'model.courseUrl' 'isInvalid')}}
            {{v-get this 'model.courseUrl' 'message'}}
          {{/if}}
        {{/if}}
      </label>
      {{input value=model.courseUrl placeholder="Course Link" class="input__url field__courseLink" }}
    </div>
    <div class="field {{if (and hasValidated (v-get this 'model.courseImageUrl' 'isInvalid')) "error"}}">
      <label>Course Image:
        {{#if hasValidated }}
          {{#if (v-get this 'model.courseImageUrl' 'isInvalid')}}
            {{v-get this 'model.courseImageUrl' 'message'}}
          {{/if}}
        {{/if}}
      </label>
      {{input value=model.courseImageUrl placeholder="Course Image" class="input__url field__courseImageLink" }}
    </div>
  </div>
  <div class="two fields">
    <div class="field {{if (and hasValidated (v-get this 'model.courseDescription' 'isInvalid')) "error"}}">
      <label>Course Description:
        {{#if hasValidated }}
          {{#if (v-get this 'model.courseDescription' 'isInvalid')}}
            <div class="error">
              {{v-get this 'model.courseDescription' 'message'}}
            </div>
          {{/if}}
        {{/if}}
      </label>
      {{textarea value=model.courseDescription placeholder="Course Description" class="input__text field__courseText" }}
    </div>
    <div class="field">
      {{#if model.courseImageUrl }}
        <img src={{model.courseImageUrl}} alt="Course Image" class='rt-course-image ui medium image' />
      {{/if}}
    </div>
  </div>
  <div class="field {{if (and hasValidated (v-get this 'model.imageUrl' 'isInvalid')) "error"}}">
    <label>Image:
      {{#if hasValidated }}
        {{#if (v-get this 'model.imageUrl' 'isInvalid')}}
          {{v-get this 'model.imageUrl' 'message'}}
        {{/if}}
      {{/if}}
    </label>
    {{input value=model.imageUrl placeholder="Image Link" class="input__url field__image" }}
  </div>

  <div class="two fields">
    <div class="field {{if (and hasValidated (v-get this 'model.venue' 'isInvalid')) "error"}}">
      <label>Venue:
        {{#if hasValidated }}
          {{#if (v-get this 'model.venue' 'isInvalid')}}
            {{v-get this 'model.venue' 'message'}}
          {{/if}}
        {{/if}}
      </label>
      {{#x-select class="ui selection dropdown" value=model.venue as |xs|}}
        {{#unless model.venue }}
          {{#xs.option value=null selected=true}}No Venue{{/xs.option}}
        {{/unless}}
        {{#each venueOptions as |v index|}}
          {{#xs.option value=v}}{{v.name}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    </div>
    <div class="field">
      {{#if model.venue }}
        {{venue/venue-view model=model.venue }}
      {{/if}}
    </div>
  </div>

  <div class="field {{if (and hasValidated (v-get this 'model.resultsUrl' 'isInvalid')) "error"}}">
    <label>Results:
      {{#if hasValidated }}
        {{#if (v-get this 'model.resultsUrl' 'isInvalid')}}
          {{v-get this 'model.resultsUrl' 'message'}}
        {{/if}}
      {{/if}}
    </label>
    {{input value=model.resultsUrl placeholder="Results Link" class="input__url field__results" }}
  </div>

  <button type="submit" value="Save" class="input__save ui button green">Save</button>
  <button {{action "cancel"}} class="input__cancel ui button">Cancel</button>
</form>
