<table class='rt-card-list ui celled striped table'>
  <thead>
    <tr>
      <th>Card Title</th>
      <th>Is Active</th>
      <th>Order</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {{#each sortedCards as |card|}}
    <tr class='rt-card-row'>
      <td class='rt-card-title'>{{card.title}}</td>
      <td class='rt-card-active'>{{boolean-yes-no card.isActive}}</td>
      {{#if card.isActive}}
        <td class='rt-card-order'>{{card.order}}</td>
      {{else}}
        <td></td>
      {{/if}}
      <td class='rt-card-edit'>
        {{link-to "Edit" "cards.edit" card.id}}
        {{#if card.isActive }}
         | 
          <a class="rt-card-move_first" {{action "moveToTop" card}}>Move to top</a>
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
