<h2 class="ui dividing header">Edit Card</h2>
<form {{action "save" on="submit"}} class="rt-card-form ui form">
    <div class="field {{if (and hasValidated (v-get this 'model.title' 'isInvalid')) "error"}}">
        <label>Card title:
        {{#if hasValidated }}
            {{#if (v-get this 'model.title' 'isInvalid')}}
            {{v-get this 'model.title' 'message'}}
            {{/if}}
        {{/if}}
        </label>
        {{input value=model.title placeholder="Card title" class="input__text field__title"}}
    </div>
    <div class="field {{if (and hasValidated (v-get this 'model.content' 'isInvalid')) "error"}}">
      <label>Card Content:
        {{#if hasValidated }}
          {{#if (v-get this 'model.content' 'isInvalid')}}
            <div class="error">
              {{v-get this 'model.content' 'message'}}
            </div>
          {{/if}}
        {{/if}}
      </label>
      {{quill-editor updateContent="updateContent" model=model.content class="input__text field__content"}}
    </div>
    <div class="two fields">
        <div class="four wide field {{if (and hasValidated (v-get this 'model.imageUrl' 'isInvalid')) "error"}}">
        <label>Background Image:
            {{#if hasValidated }}
            {{#if (v-get this 'model.imageUrl' 'isInvalid')}}
                {{v-get this 'model.imageUrl' 'message'}}
            {{/if}}
            {{/if}}
        </label>

        {{cloudinary-direct-file signatureEndpoint='http://138.68.27.140:3001/sign_upload' onUploadDone=(action "imageUploaded") title=" "}}

        </div>
        <div class="four wide field">
        {{#if model.imageUrl }}
            <img src={{model.imageUrl}} alt="Venue Logo" class='rt-card-logo-preview ui small image' />
        {{/if}}
        </div>
        <div class="eight wide field">
            <h1>
                {{#if model.isActive }}
                    Card is showing on homepage 
                {{else}}
                    Card is disabled
                {{/if}}
            </h1>
            <button class="input__toggleActive ui button {{if model.isActive 'red'}}" {{action "toggleActive"}}>
                {{#if model.isActive }}
                    Disable
                {{else}}
                    Enable
                {{/if}}
            </button>
        </div>
    </div>
    <button type="submit" value="Save" class="input__save ui button green">Save</button>
    <button {{action "cancel"}} class="input__cancel ui button">Cancel</button>
</form>
