<h1>Create/Edit Sponsor</h1>
<form {{action "save" on="submit"}} class="rt-sponsor-form">
  <p>
    <label>Sponsor Name:
      {{input value=model.name placeholder="Sponsor Name" class="input__text field__name"}}
    </label>
    {{#if hasValidated }}
      {{#if (v-get this 'model.name' 'isInvalid')}}
        <div class="error">
          {{v-get this 'model.name' 'message'}}
        </div>
      {{/if}}
    {{/if}}
  </p>
  <p>
    <label>Text:
      {{input value=model.text placeholder="Sponsor Tagline" class="input__text field__description" }}
    </label>
    {{#if hasValidated }}
      {{#if (v-get this 'model.text' 'isInvalid')}}
        <div class="error">
          {{v-get this 'model.text' 'message'}}
        </div>
      {{/if}}
    {{/if}}
  </p>
  <p>
    <label>Website:
      {{input value=model.linkUrl placeholder="Website" class="input__url field__website"}}
    </label>
    {{#if hasValidated }}
      {{#if (v-get this 'model.linkUrl' 'isInvalid')}}
        <div class="error">
          {{v-get this 'model.linkUrl' 'message'}}
        </div>
      {{/if}}
    {{/if}}
  </p>
  <p>
    <label>Logo:
      {{input value=model.imageUrl placeholder="Image" class="input__url field__image"}}
    </label>
    {{#if hasValidated }}
      {{#if (v-get this 'model.imageUrl' 'isInvalid')}}
        <div class="error">
          {{v-get this 'model.imageUrl' 'message'}}
        </div>
      {{/if}}
    {{/if}}
  </p>
  <button type="submit" value="Save" class="input__save">Save</button>
  <button {{action "cancel"}} class="input__cancel">Cancel</button>
</form>

