<h2 class="ui dividing header">Edit Sponsor</h2>
<form {{action "save" on="submit"}} class="rt-sponsor-form ui form">
  <div class="two fields">
    <div class="field {{if (and hasValidated (v-get this 'model.name' 'isInvalid')) "error"}}">
      <label>Sponsor Name:
        {{#if hasValidated }}
          {{#if (v-get this 'model.name' 'isInvalid')}}
            {{v-get this 'model.name' 'message'}}
          {{/if}}
        {{/if}}
      </label>
      {{input value=model.name placeholder="Sponsor Name" class="input__text field__name"}}
    </div>
  </div>
  <div class="field {{if (and hasValidated (v-get this 'model.linkUrl' 'isInvalid')) "error"}}">
    <label>Website:
      {{#if hasValidated }}
        {{#if (v-get this 'model.linkUrl' 'isInvalid')}}
          {{v-get this 'model.linkUrl' 'message'}}
        {{/if}}
      {{/if}}
    </label>
    {{input value=model.linkUrl placeholder="Website" class="input__url field__website"}}
  </div>
  <div class="two fields">
    <div class="four wide field {{if (and hasValidated (v-get this 'model.imageUrl' 'isInvalid')) "error"}}">
      <label>Logo:
        {{#if hasValidated }}
          {{#if (v-get this 'model.imageUrl' 'isInvalid')}}
            {{v-get this 'model.imageUrl' 'message'}}
          {{/if}}
        {{/if}}
      </label>


      {{cloudinary-direct-file signatureEndpoint='https://api.runontrails.com/sign_upload' onUploadDone=(action "imageUploaded")}}

    </div>
    <div class="four wide field">
      {{#if model.imageUrl }}
        <img src={{model.imageUrl}} alt="Venue Logo" class='rt-venue-logo-preview ui small image' />
      {{/if}}
    </div>
  </div>

  <button type="submit" value="Save" class="input__save ui button green">Save</button>
  <button {{action "cancel"}} class="input__cancel ui button">Cancel</button>
  <button {{action "delete"}} class="input__delete ui button red">
      {{#if model.confirmDelete }}
        Are you sure?
      {{else}}
        Delete
      {{/if}}
  </button>
</form>
